snippet imm "import moudle"
import ${1} from '${2:moudleName}'
endsnippet

snippet edcl "exoprt default class" 
exoprt default class ${1} {${2}}
endsnippet

snippet edcn "exoprt default const" 
exoprt default class ${1}
endsnippet
